* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif TC', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
  margin-left: 2rem;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #09777d;
  text-decoration: none;
  font-size: 1.35rem;
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
}

main section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url(../pictures/pexels-photo-416676.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.backImage h3 {
  color: white;
  font-size: 3.5rem;
  margin: 2rem 0rem;
}

main section.backImage button.start {
  background-color: #3bf0e5;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

main section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.second h2 {
  font-size: 2rem;
  margin: 2rem 0rem;
}

main section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

main section.second section.cards div.card div.image-container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

main section.second section.cards div.card div.image-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main section.second section.cards div.card div.image-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.second section.cards div.card h4 {
  font-size: 2rem;
  margin: 1rem 0;
}

main section.second section.cards div.card p {
  font-size: 1.25rem;
}

main section.second section.cards div.card a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777d;
  color: white;
  font-size: 1.25rem;
  margin: 1rem 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #cfcfcf;
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.logo img {
  height: 6vw;
  width: 6vw;
}

footer nav {
  width: 30%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.35rem;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

footer section.links a {
  margin: 0rem 1rem;
}

footer section.links a img {
  width: 5vw;
  height: 5vw;
}

@media screen and (max-width: 700px) {
  main section-second section-cards div.card img {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
  footer div.loge img {
    width: 15vw;
    height: 15vw;
  }
  footer section.links {
    margin-top: 1rem;
  }
  footer section.links a img {
    width: 10vw;
    height: 10vw;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .banner {
  width: 20%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 200px;
          flex: 1 200px;
}

.content .banner .flag {
  margin: 10px;
  display: block;
}

.content .banner .seal {
  margin: 35px;
  display: block;
}

.content .word {
  width: 80%;
  padding: 5px;
  text-align: right;
}

.content .word p {
  text-align: left;
  color: yellow;
  font-size: 1rem;
}

input, select, textarea, label {
  cursor: pointer;
}

form.login {
  text-align: center;
}

form.login caption {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bolder;
}

form.login th {
  width: 35%;
  font-size: 1.5rem;
  text-align: right;
  padding-bottom: 7px;
  padding-right: 10px;
}

form.login td {
  width: 65%;
  text-align: left;
}

form.login input[type="text"],
form.login input[type="password"] {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.loginbtn, .contactbtn {
  text-align: center;
}

.loginbtn input[type], .contactbtn input[type] {
  width: 180px;
  font-size: 1rem;
  background-color: #fff;
  border: 3px solid #09777d;
  padding: 10px;
  margin: 40px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.loginbtn input[type]:hover, .contactbtn input[type]:hover {
  opacity: 0.8;
  color: red;
  font-size: 20px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

form.contact {
  text-align: center;
}

form.contact p {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bolder;
}

form.contact tr {
  padding-bottom: 10px;
}

form.contact input[type="text"] {
  margin: 10px;
  width: 320px;
  height: 50px;
  font-size: 20px;
}

form.contact textarea {
  margin: 10px;
  width: 320px;
  height: 150px;
  font-size: 20px;
}
/*# sourceMappingURL=styles.css.map */